body {
  margin: 0;
  padding: 0;
  background: #1D2226;
  color: #e6e7e7;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}